<% content_for :right do %>
  <h2><%= @product.name %></h2>
  <h3>Opis przedmiotu:</h3>
  <%= @product.description %>
  <h3>Cena:</h3>
  <b><%= @product.price / 100.0 %></b>
  <br />
  <% if not admin_signed_in? %>
    <br />
    <%= button_to "Dodaj do koszyka", :controller => :cart, :action => :add, :id => @product.id %>
  <% end %>
  <br />
  <%= link_to "Strona główna", root_url %>
<% end %>
