<!DOCTYPE html>
<html>
<head>
  <title>ShopApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="hmenu">
    <% #render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
  </ul>
  <div class="search">
    Szukaj: <%= search_form_for get_q, :url=>search_results_path do |f| %>
      <%= f.label( :name_cont, "Nazwa") %>
      <%= f.text_field :name_cont %>
      <br />
      <%= f.label( :description_cont, "Opis") %>
      <%= f.text_field :description_cont %>
      <br />
      <%= f.label( :price_gteq, "Cena od") %>
      <%= f.text_field :price_gteq , :style => 'width:70px;' %>
      <%= f.label( :price_lteq, "Cena do") %>
      <%= f.text_field :price_lteq, :style => 'width:70px;'  %>
      <br /> 
      <%= f.submit "Szukaj!" %>
    <% end %>
  </div>
  <div class="container">
    <div class="top"> <h1>Witaj w sklepie!</h1> </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if not admin_signed_in? and not @spa %>
      <p><b><%= link_to "Twój koszyk", :controller => "/cart", :action => :index %>, suma <%= get_cart_sum %> zł.</b></p>
      <% if not (cart_products=get_cart_products).nil? %>
        <ul>
          <% cart_products.each do |t| %>
            <li> <%= t.name %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
    <% if @spa %>
      <p><b><a href="" onclick="useCase.showCart()">Twój koszyk</a></b>
      <ul id="cart-min"> </ul>
    <% end %>
    <div class="right">
      <div class="left">
        <% if @categories and not admin_signed_in? %>
          <% @categories.each do |category| %>
              <p><%= link_to category.name, category %>
          <% end %>
        <% elsif admin_signed_in? %>
          <%= link_to "Zamówienia", admin_root_path %>
          <%= link_to "Produkty", admin_products_path %>
          <%= link_to "Kategorie", admin_categories_path %>
        <% end %>
        <%= yield :left %>
      </div>
      <%= yield :right %>
      <%= yield %>
      <div style="clear:both;"></div>
    </div>
    <div class="footer">Sklep internetowy v0.1</div>
  </div>
</body>
</html>
