<!DOCTYPE html>
<html>
<head>
  <title>ShopApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="hmenu">
    <% #render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
  </ul>
  <div class="container">
    <div class="top"> <h1>Witaj w sklepie!</h1> </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if not admin_signed_in? %>
      <p><b><%= link_to "Twój koszyk", :controller => "/cart", :action => :index %>, suma <%= get_cart_sum %> zł.</b></p>
    <% end %>
    <div class="right">
      <div class="left">
        <% if @categories and not admin_signed_in? %>
          <% @categories.each do |category| %>
              <p><%= link_to category.name, category %>
          <% end %>
        <% elsif admin_signed_in? %>
          <%= link_to "Zamówienia", admin_root_path %>
          <%= link_to "Produkty", admin_products_path %>
          <%= link_to "Kategorie", admin_categories_path %>
        <% end %>
        <%= yield :left %>
      </div>
      <%= yield :right %>
      <%= yield %>
      <div style="clear:both;"></div>
    </div>
    <div class="footer">Sklep internetowy v0.1</div>
  </div>
</body>
</html>
